/* #sidebar {
  max-height: 100vh;
  overflow: scroll;
} */
.menu {
  width: 90%;
}
.menu-item {
  font-size: 14px;
  width: 200px;
  border-radius: 0;
  text-align: left;
  color: #000;
}
.menu-item:hover {
  background-color: #007bff;
  color: #fff;
}
/* .menu-item input[name="genres"] {
  font-size: 8px;
} */
